@use "../../scss/" as *;


.movie-card-poster{
    display: inline-block;
    padding: 0 0.2vw;

    .movie-card-img{
        width: 320px;
    }
}

.movie-card-text{
    font-size: 2rem;
    z-index: 100;
}

.grid {
    overflow: hidden;

    --grid__col-width: 320px;
    --grid__column-gap: 1rem;
    --grid__row-gap: 1rem;

    &-outer-grid{
        display: grid;
        margin: 0 calc(var(--grid__column-gap) * -1);
        
        column-gap: var(--grid__column-gap);
        row-gap: var(--grid__row-gap);
        
        --grid__column-gap-double: calc(var(--grid__column-gap) * 2);
        --grid__column-gap-half: calc(var(--grid__column-gap) / 2);
        --grid__row-gap-half: calc(var(--grid__row-gap) / 2);
        --grid__inner-grid: repeat(auto-fit, minmax(min(var(--grid__col-width), calc(100% - var(--grid__column-gap-double))), var(--grid__col-width)));
        grid-template-columns: minmax(0, 1fr) [grid-start] var(--grid__inner-grid) [grid-end] minmax(0, 1fr);
    }

    &-inner-grid{
        display: grid;
        grid-column-start: grid-start;
        grid-column-end: grid-end;
        column-gap: var(--grid__column-gap);
        row-gap: var(--grid__row-gap);
        grid-template-columns: var(--grid__inner-grid);
    }
}