@use "../../scss/" as *;


.hero-slide{
    margin-bottom: 3rem;
}

.hero-slide-item{
    padding: 14rem;
    @include flex(center, center);
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }

    &-wrapper{
        background-color: transparent;
        background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%, $body-bg 68%, $body-bg);
        width: 100%;
        bottom: -2rem;
        height: 6vw;
        top: auto;
        left: 0;
        position: absolute;
    }

    &-content{
        @include flex(center, center);
        position: relative;
        width: fit-content;
        

        &-info{
            width: 55%;
            padding: 0 3rem;
            position: relative;

            @include tablet {
                width: 100%;
            }

            & > * ~ * {
                margin-top: 3rem;
            }

            .title{
                font-size: 5rem;
                font-weight: 700;
                line-height: 1;

                @include tablet{
                    font-size: 4rem;
                }
            }

            .description{
                font-weight: 700;
            }

            .btns{
                display: inline-flex;
                gap: 1rem;

                @include tablet{
                    @include flex(center, center)
                }
            }

            .btns, .title, .description{
                opacity: 0;
                transform: translateY(-100px);
                transition: transform 0.5s ease, opacity 0.5s ease;
            }
        }

        &-poster{
            flex:1;
            @include flex(center, flex-start);
            position: relative;

            img{
                width: 600px;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                transform: scale(0);
                transition: transform .7s ease;
            }

            @include tablet {
                display: none;
            }
        }
    }

    &.active > &-content > &-content-poster{
        img{
            transform: scale(1);
        }
    }

    &.active > &-content > &-content-info{
        .btns, .title, .description{
            opacity: 1;
            transform: translateY(0);
        }

        .title{
            transition-delay: .3s, .3s ;
        }

        .description{
            transition-delay: .6s, .6s ;
        }

        .btns{
            transition-delay: .9s, .9s ;
        }

    }
}