@use "../../scss/" as *;

.input-box{
    display: inline-flex;
    flex-direction: column;
    margin: 0.8rem;
    position: relative;
    width: calc(100% - 1.6rem);
    
    .input-field{
        font-size: 1rem;
        border: 1px solid #31343e;
        padding: 1rem 1.5rem;
        border-radius: $border-radius;
        background-color: $body-bg;
        color: silver;
    }
    
    .input-field:focus{
        border: 1px solid #505052;
    }

    .input-label{
        position: absolute;
        font-size: 0.85rem;
        top: 1rem;
        left: 1.275rem;
        color: silver;
        pointer-events:none;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
    }

    .input-field:focus + .input-label {
        background-color: $body-bg;
        margin-top: -1.5rem;
        font-size: 0.85rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
    }

}

.input-box-disabled{
    display: inline-flex;
    flex-direction: column;
    margin: 1rem;
    position: relative;
    
    .input-field{
        font-size: 1rem;
        border: 1px solid #31343e;
        padding: 1rem 1.8rem;
        border-radius: $border-radius;
        background-color: $body-bg;
        color: silver;
    }

    .input-field::placeholder{
        color: silver;
    }
    
    .input-field:focus{
        border: 1px solid #505052;
    }

    .input-label{
        position: absolute;
        top: 0.875rem;
        left: 1.875rem;
        background-color: $body-bg;
        margin-top: -1.5rem;
        font-size: .8rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        color: silver;
        pointer-events:none;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
    }
}

.top-label{
    background-color: $body-bg;
    margin-top: -1.5rem;
    font-size: .8rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.input-sec{
    width: 100%;
}
