@use "../../scss/" as *;

.footer {
    position: relative;
    padding: 3rem 2rem 3rem 2rem;

    &-content {
        
        &-logo {
            @include flex(center, center);
            margin-top: 3rem;
        }

        &-menu {
            margin: 1rem 0;
            &-list{
                @include flex(flex-end, space-around);
                flex-direction: row;
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }
    .copyright{
        @include flex(center,center);
        margin-top: 2rem;
        
    }
}

.copyright-logo{
    font-family: "logo-font";
    
    &-text{
        color: $main-color;
    }
}
.payment-footer
{
    @include flex(center, center);
    flex-direction: column;
    gap: 0.5rem;
    .footer-logo{
        width: 150px;
    }
}

.footer-line{
    margin: 1rem 0;
    border: 1px solid #454545;
}
