@use "../../scss/" as *;

.footer {
    position: relative;
    padding: 3rem 2rem 3rem 2rem;

    &-content {
        max-width: 1000px;

        &-logo {
            @include flex(center, center);
        }

        &-menu {
            @include flex(flex-end, space-between);
            flex-direction: row;

            font-size: 1rem;
            font-weight: 600;

            & > * ~ * {
                margin-top: 1rem;
            }
        }
    }
    .copyright{
        @include flex(center,center);
        margin-top: 2rem;
        
    }
}

.copyright-logo{
    font-family: "logo-font";
    
    &-text{
        color: $main-color;
    }
}
.payment-footer
{
    @include flex(center, center);
    flex-direction: column;
    gap: 0.5rem;
    .footer-logo{
        width: 150px;
    }
}
