$body-bg: #0f0f0f;
$main-color: #4294d8;
$hover-color:#1b598b;
$txt-color: #fff;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 4px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;

@font-face {
    font-family: "logo-font";
    src: url("../assets/fonts/AstroSpace-eZ2Bg.ttf");
}